@model IEnumerable<LuyenTapCK2.Models.TiepVien> 
@{
    ViewBag.Title = "LuongMenu";
}

<h2>LuongMenu</h2>
<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>
<table>
    <tr>
        <th>Mã NV</th>
        <th>Họ Tên</th>
        <th>Lương</th>
    </tr>

    @foreach( var item in Model)
            {
                <tr>
                    <td>@item.MaTV</td>
                    <td>@item.HoTen </td>
                    <td>@item.Luong</td>
                </tr>
            }
</table>
<br />
<h3>Tổng lương các tiếp viên: @ViewBag.TongLuong</h3>

